<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hershey Interest Site and Blog</title>
  <link rel="icon" href="/images/hersheykiss.png" type="image" sizes="16x16">
  <meta name="author" content="Jameson Cohen">
  <meta name="description" content="An interest page all about Hershey">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <header>
    <a href="/">
      <img src="/images/hershey.png" alt="Hershey Logo" style=width:300px;height:75px;border:0>
    </a>
    <br>
    <h4 class="font-italic">The Great American Chocolate Bar</h4>
