<%- include('global/header.ejs'); %>
<%- include('global/navbar.ejs'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3>About Hershey's Chocolate</h3>
      <p>Hershey's Chocolate was founded by Milton Hershey in 1894 in Lancaster, Pennsylvania. At the time, Hershey was simply a small chocolate factory but has since grown into arguably the largest chocolate company in the world. In addition to creating
        the chocolate itself, Milton Hershey also had the vision for much of what the town of Hershey, PA is today, including the Hotel Hershey and the Milton Hershey School. I have always been really interested in Hershey because, when we were very
        young, we would visit Hershey, PA often with our family. The various attractions there, including Chocolate World, Hersheypark, and the Hershey Story Museum have always made our trips there some of my favorite memories, and ever since then, I
        have wanted to know more about how Milton Hershey was able to create an empire off of something as wonderful as chocolate!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Learn More</h3>
      <ul>
        <li id="links">Click <a href="https://www.hersheys.com/en_us/our-story/our-history.html">here</a> to learn more about the history of Hershey's Chocolate directly from their website. This page starts with Milton Hershey's first ventures into the
          chocolate industry and goes all the way up to the state of the Hershey Company today.</li>
        <li id="links">Click <a href="https://www.statista.com/topics/2342/the-hershey-company/">here</a> to learn some interesting statistics about Hershey's Chocolate from Statista. At this link, you can view Hershey's financial data and various other
          company facts, so if you are at all interested in the market for chocolate, this is a good site for you.</li>
        <li id="links">Click <a href="https://en.wikipedia.org/wiki/The_Hershey_Company">here</a> to learn more about Hershey in general from Wikipedia. While Wikipedia is not always the most trustworthy source, it is certainly a good place to get an
          overview of a wide variety of topics. This Wikipedia page provides detailed information about many different aspects of Hershey's Chocolate, so definitely check it out if you don't know too much yet about Hershey.</li>
      </ul>
    </div>
  </div>
</div>

<%- include('global/footer.ejs'); %>
