<%- include('global/header.ejs'); %>
<%- include('global/navbar.ejs'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <figure class="hersheyimg">
        <figcaption><h3>The Chocolate</h3><p>Below you will find a picture of Hershey's original creation, the Hershey Milk Chocolate Bar. A creamy delight, the Hershey Milk Chocolate Bar has been one of the most popular pieces of candy in America since its creation.</p></figcaption><img class="mx-auto d-block rounded" src="images/hersheypic.jpg" alt="Hershey Bars" style="width:300px;height:200px;">
      </figure>
    </div>
    <div class="col-4">
      <figure class="hersheyvid">
        <figcaption><h3>The Production</h3><p>Below is a detailed, interesting video that will illustrate to you the process through which Hershey makes their chocolate. If you are someone who has always wondered how Hershey can create such a perfect chocolate, this video is for you!</p></figcaption><iframe class="mx-auto d-block rounded" width="300" height="200" src="https://www.youtube.com/embed/b6c_NIyrvNI" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
    </div>
    <div class="col-4">
      <figure class="hersheypod">
        <figcaption><h3>Hershey vs. Mars Chocolate</h3><p>The podcast below takes a look at the interesting business conflict that has existed between Hershey and Mars chocolate since their respective inceptions. I think, by this point, you know which one I prefer. Which one is your favorite?</p></figcaption><iframe class="mx-auto d-block rounded" src="https://app.stitcher.com/splayer/f/165733/64886761" width="300" height="200" frameborder="0" scrolling="no"></iframe>
      </figure>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="jumbotron">
      <p>"Caramels are only a fad. Chocolate is a permanent thing."<br>-Milton S. Hershey</p>
    </div>
  </div>
</div>

<%- include('global/footer.ejs'); %>
